<section class='sect'>
    <div class='wrap'>
        <div class='sect-head'>
            <h2 class='sect-title'>{{category_title}}</h2>
            <a class='sect-all' href='{{category_url}}'>All of {{category_title}} <i class='fa-solid fa-arrow-right'></i></a>
        </div>
        <div class='sect-grid'>
            <article class='sect-feature'>
                <a class='sf-link' href='{{feature_url}}'>
                    <div class='sf-img{{feature_thumb_empty}}'>{{feature_thumb_img}}</div>
                    <span class='sf-kicker'>Lead</span>
                    <span class='sf-title'>{{feature_title}}</span>
                    <span class='sf-excerpt'>{{feature_excerpt}}</span>
                    <span class='sf-date'>{{feature_date}}</span>
                </a>
            </article>
            <div class='sect-col'>{{column_1_list}}</div>
            <div class='sect-col'>{{column_2_list}}</div>
        </div>
    </div>
</section>
