<article class='idx-row'>
    <a class='idx-link' href='{{post_url}}'>
        <div class='idx-thumb{{post_thumb_empty}}'>{{post_thumb_img}}</div>
        <span class='idx-body'>
            <span class='idx-head'>
                <span class='idx-title'>{{post_title}}</span>
                {{post_category}}
            </span>
            <span class='idx-excerpt'>{{post_excerpt}}</span>
            <span class='idx-leader'></span>
            <span class='idx-date'>{{post_date}}</span>
        </span>
    </a>
</article>
