<section class='m-catsec'>
    <div class='wrap'>
        <div class='m-sec-head'>
            <h2 class='m-h2'>{{category_title}}</h2>
            <a class='m-sec-link' href='{{category_url}}'>View all <i class='fa-solid fa-arrow-right'></i></a>
        </div>
        <div class='catsec-grid'>
            <article class='tile feat-tile'>
                <a class='ft-link' href='{{feature_url}}'>
                    <div class='ft-img{{feature_thumb_empty}}'>{{feature_thumb_img}}</div>
                    <span class='ft-body'>
                        <span class='pt-tag'>Featured</span>
                        <span class='ft-title'>{{feature_title}}</span>
                        <span class='ft-excerpt'>{{feature_excerpt}}</span>
                        <span class='ft-date'><i class='fa-regular fa-calendar'></i> {{feature_date}}</span>
                    </span>
                </a>
            </article>
            <div class='catsec-col'>{{column_1_list}}</div>
            <div class='catsec-col'>{{column_2_list}}</div>
        </div>
    </div>
</section>
