<article class='glass-row'>
    <a class='gr-link' href='{{post_url}}'>
        <div class='gr-thumb{{post_thumb_empty}}'>{{post_thumb_img}}</div>
        <span class='gr-body'>
            <span class='gr-title'>{{post_title}}</span>
            <span class='gr-excerpt'>{{post_excerpt}}</span>
            <span class='gr-meta'>
                <span class='gr-date'><i class='fa-regular fa-calendar'></i> {{post_date}}</span>
                {{post_category}}
            </span>
        </span>
        <span class='gr-go'><i class='fa-solid fa-arrow-right'></i></span>
    </a>
</article>
