<article class='row-post'>
    <a class='row-link' href='{{post_url}}'>
        <div class='row-thumb{{post_thumb_empty}}'>{{post_thumb_img}}</div>
        <span class='row-body'>
            <span class='row-title'>{{post_title}}</span>
            <span class='row-excerpt'>{{post_excerpt}}</span>
            <span class='row-meta'>
                <span class='row-date'>{{post_date}}</span>
                {{post_category}}
            </span>
        </span>
        <span class='row-arrow'>&rarr;</span>
    </a>
</article>
