<article class='log-row'>
    <a class='log-link' href='{{post_url}}'>
        <div class='log-thumb{{post_thumb_empty}}'>{{post_thumb_img}}</div>
        <span class='log-main'>
            <span class='log-title'><span class='log-arrow'>&gt;</span> {{post_title}}</span>
            <span class='log-excerpt'>{{post_excerpt}}</span>
            <span class='log-meta'><span class='log-date'>[{{post_date}}]</span> {{post_category}}</span>
        </span>
        <span class='log-go'><i class='fa-solid fa-chevron-right'></i></span>
    </a>
</article>
